<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Name</mat-label>
    <input [(ngModel)]="cat.name" matInput required type="text"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Admission Date</mat-label>
    <input [(ngModel)]="cat.admissionDate" matInput required type="date"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Departure Date</mat-label>
    <input [(ngModel)]="cat.departureDate" matInput type="date"/>
  </mat-form-field>
  <mat-slide-toggle [(ngModel)]="cat.sociable">
    Sociable
  </mat-slide-toggle>
  <mat-form-field class="full-width">
    <mat-label>Chip</mat-label>
    <input [(ngModel)]="cat.chip" matInput required type="number"/>
  </mat-form-field>
  <ng-container *ngIf="!isCreate()">
    <app-search-by-adopter [(adopterNif)]="cat.adopterNif" class="full-width"></app-search-by-adopter>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <button (click)="create()" *ngIf="isCreate()" [disabled]="invalid()" color="primary" mat-raised-button>Create</button>
  <button (click)="update()" *ngIf="!isCreate()" [disabled]="invalid()" color="primary" mat-raised-button>Update
  </button>
</mat-dialog-actions>
