<mat-toolbar color="primary">
  <div fxFlex>
    {{ title }}
  </div>
  <div fxFlex>
    <button mat-icon-button aria-label="Cats">
      <mat-icon>pets</mat-icon>
      Cats
    </button>
  </div>
  <div fxFlex>
    <button mat-icon-button aria-label="Colonies">
      <mat-icon>home</mat-icon>
      Colonies
    </button>
  </div>
  <div fxFlex>
    <button mat-icon-button aria-label="Adopters">
      <mat-icon>people</mat-icon>
      Adopters
    </button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
